
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>编辑文章</title>
		<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/dist/css/zui.min.css">
		<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/common.css">
		<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/login.css">
		<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/js/edit-modal/themes/default/default.css">
		<!--<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/js/edit-modal/themes/simple/simple.css">-->
		<!--<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/js/edit-modal/plugins/code/prettify.css">-->
		<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/edit.css">
		<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/edit-modal/kindeditor-all-min.js' charset='utf-8'></script>
		<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/edit-modal/lang/zh-CN.js' charset='utf-8'></script>
		<!--<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/edit-modal/plugins/code/prettify.js' charset='utf-8'></script>-->
		<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/edit-modal/plugins/emoticons/emoticons.js' charset='utf-8'></script>
		<style type="text/css">
			html,body{
				font: 14px/1.5 'Microsoft Yahei',Arial,Helvetica,sans-serif;
				width:100%;
				height:100%;
				margin:0;
				padding:0;
			}
			#title {
				border: none 0;
				outline: medium;
				background: transparent;
				-webkit-appearance: none;
				-moz-appearance: none;
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				-moz-tap-highlight-color: transparent;
				border-bottom: 1px solid #ccc;
				border-radius: 2px;
				font-weight: bold;
				color: #333333;
				padding-left: 20px;
				height: 40px;
			}
			#typeSelect option{
				color: #1a1a1a;
			}
		</style>
	</head>
	<body>
    <div class="header">
        <div class="centent">
            <a class="logo-img"><img class="pull-left" src="__ROOT__/Application/Home/View/public/img/logo2.png" width="105px" height="45px" /></a>
            <nav>
                <ul class="header-nav">
                    <li><a href="{:U('Home/Index/index')}" style="color: rgb(53, 181, 88);">首页</a></li>
                    <li>
                        <if condition="session('sys_tag') eq admin">
                            	审核文章
                            <else/>投递文章
                        </if>
                    </li>
                    <li>社区</li>
                </ul>
            </nav>
            <div class="icon-box">
                <span class="search-icon" id="search-btn"></span>
                        <span class="relative loginlist login-icon" id="loginlist">
                            <dl class="submenu"><i class="top-icon"></i>
                                <dd>
                                    <a href="{:U('Home/Login/register')}" class="reg-btn">注册</a>|
                                    <a href="{:U('Home/Login/index')}" class="login-btn">登录</a>
                                </dd>
                                <dd><a href="{:U('Home/Person/index')}"><i class="grzy-icon"></i>个人主页</a></dd>
                                <dd><a href="{:U('Home/Person/message')}"><i class="xxtz-icon"></i>消息通知</a></dd>
                                <dd><a href="{:U('Home/Person/account')}"><i class="zhsz-icon"></i>账号设置</a></dd>
                            </dl>
                        </span>
            </div>
            <div class="searchbox" id="searchbox">
                <i class="close-icon" id="close-btn"></i>
                <i class="search-icon" id="search-btn"></i>
                <input id="web_search_header" placeholder="搜索课程、问答或Wiki" value="" />
            </div>
        </div>
    </div>
   	<div class="centent mar-t20">
   		<div class="edit-box">
   			<p class="edit-thesis">编辑论文</p>
   			<textarea class="form-control kindeditor" name="content" style="height: 700px;">123123</textarea>
			<p class="edit-number pull-right">
				您当前输入了 <span class="word_count2">0</span> 个文字。
			</p>

			<form class="form-horizontal form-condensed edit-form" id="addThesisId">
				<div class="form-group">
					<label for="tag" class="col-sm-1">标&nbsp;&nbsp;&nbsp;&nbsp;签：</label>
					<!--<div class="col-md-3 col-sm-10">-->
					<input type="text" name="tag" class="col-md-5 col-sm-10 btn-mini form-control form-focus" id="tag" placeholder="请使用空格分隔不同标签">
					<!--</div>-->
				</div>
				<div class="form-group">
					<label class="col-sm-1">分&nbsp;&nbsp;&nbsp;&nbsp;类：</label>
					<select name="selfTypeId" class=" btn-mini form-control col-md-5 col-sm-10" id="selfTypeId">
						<!--<option value="0">默认分类</option>-->
						<if condition="$typeList[0]['id'] eq ''">
							<option id="addSelfTypeId">添加自定义分类</option>
							<else/>
							<volist name="typeList" id="vo">
								<option value="{$vo.id}">{$vo.typename}</option>
							</volist>
						</if>
					</select>
					<a href="javascript:;" data-toggle="modal" data-position="center" data-target="#open-dailog-email">
						<i class="icon icon-plus-sign"></i> 添加分类
					</a>
				</div>
				<div class="form-group">
					<label for="typeId" class="col-sm-1">投&nbsp;&nbsp;&nbsp;&nbsp;稿：</label>
					<select name="typeId" class="col-md-3 col-sm-10 btn-mini form-control" id="typeId">
						<option value="0">默认不投</option>
						<volist name="sysTypeList" id="vo">
							<option value="{$vo.typeid}">{$vo.typename}</option>
						</volist>
					</select>
				</div>
				<div class="form-group">
					<label class="col-sm-1">设&nbsp;&nbsp;&nbsp;&nbsp;置：</label>
					<label>
						<input type="radio" name="radioId" checked value="1"> 公开
					</label>
					<label>
						<input type="radio" name="radioId" value="2"> 私有
					</label>
				</div>
			</form>
			<p>
				<button  type="button" class="btn-sm btn-primary" name="clear" onclick="addRowThesis(1)">保存草稿</button>&nbsp;&nbsp;&nbsp;&nbsp;
				<button  type="button" class="btn-sm btn-success" name="getHtml" onclick="addRowThesis(2)">投递文章</button>
			</p>
		</div>
   	</div>
   <!--底部-->
    <!--<div id="footer" class="mar-t50">-->
        <!--<div class="w-1000 copyright">-->
            <!--Copyright © 2013-2016&nbsp;<strong><a href="{:U('Home/Index/index')}" target="_blank">wangyiyu.com</a></strong> All Rights Reserved. 京ICP备11018032号-8 京公网安备11010802020210-->
            <!--<a href="#" target="_blank" class="down-wechat"></a>-->
            <!--<a href="#" target="_blank" class="down-sina"></a>-->
        <!--</div>-->
    <!--</div>-->
    <!--底部结束-->
<script>
	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[name="content"]', {
			allowFileManager : true
		});
		K('input[name=getHtml]').click(function(e) {
			if(editor.isEmpty()){
				alert("论文内容不能为空");
			}else{
				alert(editor.html());
			}
		});
		K('input[name=getText]').click(function(e) {
			alert(editor.text());
		});
		K('input[name=setHtml]').click(function(e) {
			editor.html('<h3>Hello KindEditor</h3>');
		});
		K('input[name=setText]').click(function(e) {
			editor.text('<h3>Hello KindEditor</h3>');
		});
		K('input[name=clear]').click(function(e) {
			editor.html('');
		});
	});
</script>


    <script type="text/javascript">
		KindEditor.ready(function(K) {
			K.create('textarea[name="content"]', {
				afterChange : function() {
					K('.word_count2').html(this.count('text'));
				}
			});
		});
        $(document).ready(function(){
            $("#search-btn").click(function(){
                $("#searchbox").addClass("scale");
            });
            $("#close-btn").click(function(){
                $("#searchbox").removeClass("scale");
            });

        });
    </script>


    <!--[if lt IE 9]>
    <script type='text/javascript' src="lib/ieonly/html5shiv.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type='text/javascript' src="lib/ieonly/respond.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type='text/javascript' src="lib/ieonly/excanvas.js"></script>
    <![endif]-->
</body>
</html>