<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的论文</title>
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/public/dist/css/zui.min.css">
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/common.css">
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/login.css">
</head>
<style type="text/css">
    html,body{
        font: 14px/1.5 'Microsoft Yahei',Arial,Helvetica,sans-serif;
        width:100%;
        height:100%;
        margin:0;
        padding:0;
    }
    .item {
        /*background-color: #F5F5F5;*/
        background-color: #EEEEEE;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    #learn-course-missing{
        font-family: "PingFang SC","Microsoft YaHei";
        width: 1000px;
    }
    .user-course-content {
        width: 1000px;
        margin: auto;
        margin: 10px 0;
    }
    .specLabel {
        font-family: Verdana;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    #typeSelect option{
        color: #1a1a1a;
    }
</style>
<body>
    <div class="header">
        <div class="centent">
            <a class="logo-img" href="{:U('Home/Index/index')}"><img class="pull-left" src="__ROOT__/Application/Home/View/public/img/logo2.png" width="105px" height="45px" /></a>
            <nav>
                <ul class="header-nav">
                    <li><a href="{:U('Home/Index/index')}">首页</a></li>
                    <if condition="session('sys_tag') eq admin">
                        <li><a href="{:U('Home/Index/index')}" style="color: rgb(53, 181, 88);">审核文章</a></li>
                    <else/>
                        <li><a href="{:U('Home/Writer/mythesis')}" style="color: rgb(53, 181, 88);">投递文章</a></li>
                    </if>
                    <li><a href="#">论文分类<i class="arrow-icon"></i></a>
                    <!--<li><a href="{:U('Home/All/thesisclassify')}">论文分类<i class="arrow-icon"></i></a>-->
                    </li>
                    <li><a href="#">社区</a></li>
                </ul>
            </nav>
            <div class="icon-box">
                <span class="search-icon" id="search-btn" onclick="searchBtn()"></span>
                <if condition="session('uid') eq ''">
                    <span class="relative loginlist login-icon" id="loginlist">
                    <else/>
                    <span class="relative loginlist" id="loginlist">
                    <img src="__ROOT__/Application/Home/View/public/img/default.gif" style="height: 25px;width: 25px;margin-bottom: 54px">
                </if>
                <dl class="submenu"><i class="top-icon"></i>
                    <dd>
                        <if condition="session('uid') eq ''">
                            <a href="{:U('Home/Login/register')}" class="reg-btn">注册</a>|<a href="{:U('Home/Login/index')}" class="login-btn">登录</a>
                        </if>
                    </dd>
                    <dd><a href="{:U('Home/Person/index')}"><i class="grzy-icon"></i>个人主页</a></dd>
                    <dd><a href="{:U('Home/Person/message')}"><i class="xxtz-icon"></i>消息通知</a></dd>
                    <dd><a href="{:U('Home/Person/account')}"><i class="zhsz-icon"></i>账号设置</a></dd>
                    <if condition="session('uid') neq ''">
                        <dd><a href="{:U('Home/Index/exitLogin')}"><i class="zhsz-icon"></i>退出登录</a></dd>
                    </if>
                </dl>
                </span>
            </div>
            <div class="searchbox" id="searchbox">
                <i class="close-icon" id="close-btn" onclick="closeBtn(this)"></i>
                <i class="search-icon" id="search-btn"></i>
                <input id="web_search_header" placeholder="搜索文章 / 问答" value="" />
            </div>
        </div>
    </div>

    <div class="centent">
        <div class="user-course">
            <div class="course-nav" id="courseNav" style="background-color: #F5F5F5">
                <!--<a href="{:U('Home/Writer/mythesis')}" id="navHome" class="active">我的论文</a>-->
                <a href="{:U('Home/Writer/mythesis')}" class="active"><i class="icon icon-bars"></i> 我 的 文 章</a>
                <a href="{:U('Home/Writer/addthesis')}"><i class="icon icon-edit-sign"></i> 写 文 章</a>
                <a href="{:U('Home/Writer/delivered')}"><i class="icon icon-envelope-alt"></i> 投 递 箱</a>
                <a href="{:U('Home/Writer/nodeliver')}"><i class="icon icon-archive"></i> 草 稿 箱</a>
                <a href="{:U('Home/Writer/afterThesis')}"><i class="icon icon-cloud"></i> 垃 圾 箱</a>
                <select id="typeSelect" class=" btn-sm pull-right col-xs-3" style="color: #35B558; height: 38px; font-size: 14px">
                    <!--<option value="1">默认分类</option>-->
                    <if condition="$typeList[0]['id'] eq ''">
                        <option id="addSelfTypeId">添加自定义分类</option>
                        <else/>
                        <volist name="typeList" id="vo">
                            <if condition="$articleList[0]['self_typeid'] eq $vo['id']">
                                <option value="{$vo.id}" selected>{$vo.typename}</option>
                                <else/>
                                <option value="{$vo.id}">{$vo.typename}</option>
                            </if>
                        </volist>
                    </if>
                </select>
                <a id="" href="javascript:;" data-toggle="modal" data-position="center"
                   data-target="#open-dailog-email"><i class="icon icon-plus-sign"></i> 添加分类</a>
            </div>
            <!-- 添加分类弹窗 -->
            <div class="modal fade" id="open-dailog-email">
                <div class="modal-dialog modal-dialog-1">
                    <div class="modal-content" style="height: 140px">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">关闭</span></button>
                            <h4 class="modal-title">添加文章分类</h4>
                        </div>
                        <div class="modal-body">
                            <div class="bd">
                                <form class="form">
                                    <div class="" style="display: inline-block">
                                        <input class="txt sm" type="text" id="typeName" name="typeName" style="width: 280px">
                                        <button type="button" id="addTypeBtn" class="green-btn xs" style="display: inline-block"> 确 定 </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-course-content">
                <div class="user-course-cont">
                    <div id="learn-course-missing" style="height: auto;">
                        <a href="{:U('Home/Writer/addthesis')}" id="displayImg" style="display: none">
                            <img src="__ROOT__/Application/Home/View/public/img/shangche.jpg" class="data-missing-bg" style="width: 240px;margin-left: 0px;left: 30%; ">
                        </a>
                        <div class="items">
                            <foreach name="articleList" item="vo">
                                <div class="item" id="item">
                                    <div class="" style="padding: 0 30px">
                                        <label class="specLabel">
                                            <a href="{:U('Home/Writer/article',array('artId' => $vo['artid']),'')}">{$vo.title}</a>
                                        </label>
                                        <div class="pull-right" style="padding-top: 10px">
                                            <span class="text-muted">{$vo.savetime}</span> &nbsp;
                                        </div>
                                        <hr style="margin-bottom: 10px;margin-top: 0px;">
                                        <div class="item-content">
                                            <div style="line-height: 30px" class="text">
                                                {$vo.content}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="line-height: 30px;margin-top: 10px" class="txt-left col-md-6">
                                                <if condition="$vo.ispass eq 4">
                                                    <label class="label" href="javascript:(0);" style="font-weight: 500; margin-right: 10px">
                                                        <i class="icon icon-thumbs-o-down"></i> 审 核 不 通 过 </label>
                                                    <a class="label label-primary" href="{:U('Home/Writer/addthesis',array('cate_id'=>$vo['artid']),false)}">
                                                        <i class="icon icon-pencil"></i> 继 续 编 辑</a>
                                                    <else/>
                                                    <label class="label label-info " href="javascript:(0);" style="font-weight: 500;">
                                                        <i class="icon icon-thumbs-o-up"></i> 审 核 已 通 过 </label>
                                                </if>
                                            </div>
                                            <div style="line-height: 30px;margin-top: 10px" class="txt-right col-md-6">
                                                <a class="label label-danger " href="{:U('Home/Writer/article',array('artId' => $vo['artid']),'')}" style="font-weight: 500;">
                                                    阅 读 全 文<i class="icon icon-double-angle-right" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </foreach>
                        </div>
                        <div class="pages txt-right"> {$page} </div>
                    </div>
                </div>
                <div class="user-side" id='lastLooking'>
                    <div class="user-visit-header"><h2>最近访客</h2></div>
                    <div class="user-visit user-popBoxs-container">
                        <div id="learn-data-missing"><img
                                src="http://sm1.jikexueyuan.com/assets/images/empty/face-he-no-visit.png"
                                class="data-missing-bg" alt="暂无访客"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--底部-->
    <!--<div id="footer" style="margin-top: 150px">-->
        <!--<div class="w-1000 copyright">-->
            <!--Copyright © 2013-2016&nbsp;<strong><a href="{:U('Home/Index/index','',false)}" target="_blank">wangyiyu.com</a></strong> All Rights Reserved. 京ICP备11018032号-8 京公网安备11010802020210-->
            <!--<a href="#" target="_self" class="down-wechat"></a>-->
            <!--<a href="#" target="_self" class="down-sina"></a>-->
        <!--</div>-->
    <!--</div>-->
    <!--底部结束-->
<!--跳窗-->
<div class="modal fade" id="open-tip">
    <div class="modal-dialog modal-dialog-1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">发布</h4>
            </div>
            <div class="modal-body">
                <div class="bd">
                    <form class="form form-setting">
                        <fieldset>
                            <div class="form-item txt-center">
                                	是否确认投递？
                            </div>
                            <div class="tip txt-center">
                                	<button type="button" class="gray-btn"  data-dismiss="modal">否</button>
                                    <button type="button" class="green-btn" data-dismiss="modal" onclick="openmadol()">是</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--跳窗-->
<div class="modal fade" id="open-tip-secceed">
    <div class="modal-dialog modal-dialog-1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">发布</h4>
            </div>
            <div class="modal-body">
                <div class="bd">
                    <form class="form form-setting">
                        <fieldset>
                            <div class="form-item txt-center">
                                	投递成功！
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--跳窗-->
<div class="modal fade" id="open-del">
    <div class="modal-dialog modal-dialog-1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">发布</h4>
            </div>
            <div class="modal-body">
                <div class="bd">
                    <form class="form form-setting">
                        <fieldset>
                            <div class="form-item txt-center">
                                	是否确认删除？
                            </div>
                            <div class="tip txt-center">
                                	<button type="button" class="gray-btn"  data-dismiss="modal">否</button>
                                    <button type="button" class="green-btn" data-dismiss="modal" onclick="openmadol(this)">是</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--跳窗-->
<div class="modal fade" id="open-del-secceed">
    <div class="modal-dialog modal-dialog-1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">发布</h4>
            </div>
            <div class="modal-body">
                <div class="bd">
                    <form class="form form-setting">
                        <fieldset>
                            <div class="form-item txt-center">
                                	投递删除！
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
	<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/jquery.1.7.2.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='__ROOT__/Application/Home/View/public/dist/js/zui.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/login.js' charset='utf-8'></script>
    <script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/layer/layer.js'></script>
    <script type="text/javascript">
        var addType_url = "{:U('Home/SelfType/addType','',false)}";
        var mythesis_url = "{:U('Home/Writer/mythesis','',false)}";
        $(document).ready(function(){
            if(document.getElementById('item') == null ){
                $('#displayImg').css('display','block');
                $('#lastLooking').css('display','none');
            }
        });
        //选择分类加载
        $('#typeSelect').change(function(){
            var typeId = $("#typeSelect").val();
//            alert(typeId);return false;
//            if(typeId){
                window.location.href = mythesis_url + '/typeId/' + typeId;
//            }
        });
        //添加分类
        $('#addTypeBtn').on('click',function(){
            var typeName = $('#typeName').val();
            if(typeName == '' || typeName == null || typeName ==' '){
                layer.alert('请 输 入 分 类 名 称');
                return false;
            }
            $.ajax({
                url: addType_url,
                type: 'post',
                dataType: "json",
                data: {typename: typeName},
                success: function(result){
                    if(result.status == 1){
                        layer.msg(result.info[0]);
                        var obj = document.getElementById("typeSelect");
                        obj.options.add(new Option(result.info[1],result.info[2]));
                        $('#open-dailog-email').modal('hide');
                        return false;
                    }else{
                        layer.msg(result.info);
                        return false;
                    }

                },error: function(){
                    layer.msg('小 编 正 在 抢 修 网 络',{time: 3000});
                    return false;
                }
            })
        });
         function searchBtn(){
            $("#searchbox").addClass("scale");//开启搜索框
            }
            function closeBtn(c){
                $(c).parent().removeClass("scale");//关闭搜索框
        }
        function delThesis(d){
            $(d).closest(".item").remove();//删除未投递论文
        }
        function openmadol(){
            $('#open-tip-secceed').modal();
            setInterval(function(){$('#open-tip-secceed').modal('hide')},3000);
        }
    </script>
    <!--[if lt IE 9]>
    <script type='text/javascript' src="lib/ieonly/html5shiv.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type='text/javascript' src="lib/ieonly/respond.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type='text/javascript' src="lib/ieonly/excanvas.js"></script>
    <![endif]-->
</body>
</html>