<script src="__ROOT__/Application/Sadmin/public/assets/js/jquery.2.1.1.min.js"></script>
<script src="__ROOT__/Application/Sadmin/public/assets/js/bootstrap.min.js"></script>
<script src="__ROOT__/Application/Sadmin/public/assets/js/ace-elements.min.js"></script>
<script src="__ROOT__/Application/Sadmin/public/assets/js/ace.min.js"></script>
<script src="__ROOT__/Application/Sadmin/public/assets/js/jquery.dataTables.min.js"></script>
<script src="__ROOT__/Application/Sadmin/public/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/md5/md5.js'></script>
<!-- ace settings handler -->
<script src="__ROOT__/Application/Sadmin/public/assets/js/ace-extra.min.js"></script>
<link rel="stylesheet" href="__ROOT__/Application/Sadmin/public/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="__ROOT__/Application/Sadmin/public/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
<!-- text fonts -->
<link rel="stylesheet" href="__ROOT__/Application/Sadmin/public/assets/fonts/fonts.googleapis.com.css" />
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/layer/layer.js'></script>
<!-- ace styles -->
<link rel="stylesheet" href="__ROOT__/Application/Sadmin/public/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

