<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页</title>
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/dist/css/zui.min.css">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/common.css">
	<link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/login.css">
</head>
<body>
<div class="header">
	<div class="centent">
		<a class="logo-img" href="{:U('Home/Index/index')}"><img class="pull-left" src="__ROOT__/Application/Home/View/public/img/logo2.png" width="105px" height="45px" /></a>
		<nav>
			<ul class="header-nav">
				<li><a href="{:U('Home/Index/index')}">首页</a></li>
				<if condition="session('sys_tag') eq admin">
					<li><a href="{:U('Home/Approval/approvalfirst')}">审核文章</a></li>
					<else />
					<li><a href="{:U('Home/Writer/mythesis')}">投递文章</a></li>
				</if>
				<li><a href="{:U('Home/All/thesisclassify')}" class="active">论文分类<i class="arrow-icon"></i></a>
				</li>
				<li><a href="#">社区</a></li>
			</ul>
		</nav>
		<div class="icon-box">
			<span class="search-icon" id="search-btn" onclick="searchBtn()"></span>
			<if condition="session('uid') eq ''">
                    <span class="relative loginlist login-icon" id="loginlist">
                    <else/>
                    <span class="relative loginlist" id="loginlist">
                    <img src="__ROOT__/Application/Home/View/public/img/default.gif" style="height: 25px;width: 25px;margin-bottom: 54px">
			</if>
			<dl class="submenu"><i class="top-icon"></i>
				<dd>
					<if condition="session('uid') eq ''">
						<a href="{:U('Home/Login/register')}" class="reg-btn">注册</a>|<a href="{:U('Home/Login/index')}" class="login-btn">登录</a>
					</if>
				</dd>
				<dd><a href="{:U('Home/Person/index')}"><i class="grzy-icon"></i>个人主页</a></dd>
				<dd><a href="{:U('Home/Person/message')}"><i class="xxtz-icon"></i>消息通知</a></dd>
				<dd><a href="{:U('Home/Person/account')}"><i class="zhsz-icon"></i>账号设置</a></dd>
				<if condition="session('uid') neq ''">
					<dd><a href="{:U('Home/Index/exitLogin')}"><i class="zhsz-icon"></i>退出登录</a></dd>
				</if>
			</dl>
			</span>
		</div>
		<div class="searchbox" id="searchbox">
			<i class="close-icon" id="close-btn" onclick="closeBtn(this)"></i>
			<i class="search-icon" id="search-btn"></i>
			<input id="web_search_header" placeholder="搜索文章 / 问答" value="" />
		</div>
	</div>
</div>
<div class="centent">
	<div class="user-course">
		<div class="course-nav">
			<div class="quesall">
				<h1 id="allques-title">全部分类</h1>
			<div class="lesson-classfiy-nav">
				<ul style="overflow: hidden; border-bottom-width: 0px; height: 185px;">
					<li>
						<div>
							<a cgid="1" href="http://wenda.jikexueyuan.com/lists/mobile/">移动开发</a>
							<div class="lesson-list-show" style="width: 401px; min-height: 410px;">
								<div style="width: 400px;">
									<dl>
										<dt><a href="#" cgid="13">应用开发</a></dt>
										<dd class="cf">
											<a href="#" cgid="63">Android</a>
											<a href="#" cgid="63">iOS</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="#" cgid="13">游戏开发</a></dt>
										<dd class="cf">
											<a href="#" cgid="63">Cocos</a>
											<a href="#" cgid="63">Unity3D</a>
											<a href="#" cgid="63">SpriteKit 2D</a>
											<a href="#" cgid="63">Unreal</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="#" cgid="13">常用框架</a></dt>
										<dd class="cf">
											<a href="#" cgid="63">Cordova</a>
											<a href="#" cgid="63">React Native</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div>
							<a cgid="1" href="#">前端开发</a>
							<div class="lesson-list-show" style="width: 401px; min-height: 410px;">
								<div style="width: 400px;">
									<dl>
										<dt><a href="#" cgid="13">前端基础</a></dt>
										<dd class="cf">
											<a href="#" cgid="63">HTML</a>
											<a href="#" cgid="63">CSS</a>
											<a href="#" cgid="63">JavaScript</a>
											<a href="#" cgid="63">HTML5</a>
											<a href="#" cgid="63">CSS3</a>
											<a href="#" cgid="63">技术前瞻</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="#" cgid="13">前端进阶</a></dt>
										<dd class="cf">
											<a href="#" cgid="63">Typescript</a>
											<a href="#" cgid="63">前端安全</a>
											<a href="#" cgid="63">项目实战</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="#" cgid="13">前端框架</a></dt>
										<dd class="cf">
											<a href="#" cgid="63">jQuery</a>
											<a href="#" cgid="63">jQuery UI</a>
											<a href="#" cgid="63">jQuery Mobile</a>
											<a href="#" cgid="63">Ext JS</a>
											<a href="#" cgid="63">AngularJS</a>
											<a href="#" cgid="63">ReactJS</a>
											<a href="#" cgid="63">Bootstrap</a>
											<a href="#" cgid="63">React Native</a>
											<a href="#" cgid="63">Backbone</a>
											<a href="#" cgid="63">Three.js</a>
											<a href="#" cgid="63">MooTools</a>
											<a href="#" cgid="63">Compass</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="#" cgid="13">HTML5游戏</a></dt>
										<dd class="cf">
											<a href="#" cgid="63">Canvas</a>
											<a href="#" cgid="63">SVG</a>
											<a href="#" cgid="63">WebGL</a>
											<a href="#" cgid="63">Cocos2d-js</a>
											<a href="#" cgid="63">CreateJS</a>
											<a href="#" cgid="63">Flash</a>
											<a href="#" cgid="63">Unreal</a>
											<a href="#" cgid="63">Egret</a>
											<a href="#" cgid="63">Phaser</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div>
							<a cgid="1" href="http://wenda.jikexueyuan.com/lists/web/">前端开发</a>
							<div class="lesson-list-show" style="width: 401px; min-height: 410px;">
								<div style="width: 400px;">
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/webbase/" cgid="13">前端基础</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/html/" cgid="63">HTML</a>
											<a href="http://wenda.jikexueyuan.com/lists/css/" cgid="63">CSS</a>
											<a href="http://wenda.jikexueyuan.com/lists/javascript/" cgid="63">JavaScript</a>
											<a href="http://wenda.jikexueyuan.com/lists/html5/" cgid="63">HTML5</a>
											<a href="http://wenda.jikexueyuan.com/lists/css3/" cgid="63">CSS3</a>
											<a href="http://wenda.jikexueyuan.com/lists/prospective/" cgid="63">技术前瞻</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/advance/" cgid="13">前端进阶</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/typescript/" cgid="63">Typescript</a>
											<a href="http://wenda.jikexueyuan.com/lists/security/" cgid="63">前端安全</a>
											<a href="http://wenda.jikexueyuan.com/lists/practice/" cgid="63">项目实战</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/webframe/" cgid="13">前端框架</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/jquery/" cgid="63">jQuery</a>
											<a href="http://wenda.jikexueyuan.com/lists/jqueryui/" cgid="63">jQuery UI</a>
											<a href="http://wenda.jikexueyuan.com/lists/jquerymobile/" cgid="63">jQuery Mobile</a>
											<a href="http://wenda.jikexueyuan.com/lists/extjs/" cgid="63">Ext JS</a>
											<a href="http://wenda.jikexueyuan.com/lists/angularjs/" cgid="63">AngularJS</a>
											<a href="http://wenda.jikexueyuan.com/lists/reactjs/" cgid="63">ReactJS</a>
											<a href="http://wenda.jikexueyuan.com/lists/bootstrap/" cgid="63">Bootstrap</a>
											<a href="http://wenda.jikexueyuan.com/lists/reactnative/" cgid="63">React Native</a>
											<a href="http://wenda.jikexueyuan.com/lists/backbone/" cgid="63">Backbone</a>
											<a href="http://wenda.jikexueyuan.com/lists/threejs/" cgid="63">Three.js</a>
											<a href="http://wenda.jikexueyuan.com/lists/mootools/" cgid="63">MooTools</a>
											<a href="http://wenda.jikexueyuan.com/lists/compass/" cgid="63">Compass</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/html5games/" cgid="13">HTML5游戏</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/canvas/" cgid="63">Canvas</a>
											<a href="http://wenda.jikexueyuan.com/lists/svg/" cgid="63">SVG</a>
											<a href="http://wenda.jikexueyuan.com/lists/webgl/" cgid="63">WebGL</a>
											<a href="http://wenda.jikexueyuan.com/lists/cocos2djs/" cgid="63">Cocos2d-js</a>
											<a href="http://wenda.jikexueyuan.com/lists/createjs/" cgid="63">CreateJS</a>
											<a href="http://wenda.jikexueyuan.com/lists/webflash/" cgid="63">Flash</a>
											<a href="http://wenda.jikexueyuan.com/lists/webunreal/" cgid="63">Unreal</a>
											<a href="http://wenda.jikexueyuan.com/lists/webegret/" cgid="63">Egret</a>
											<a href="http://wenda.jikexueyuan.com/lists/phaser/" cgid="63">Phaser</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div>
							<a cgid="1" href="http://wenda.jikexueyuan.com/lists/web/">前端开发</a>
							<div class="lesson-list-show" style="width: 401px; min-height: 410px;">
								<div style="width: 400px;">
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/webbase/" cgid="13">前端基础</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/html/" cgid="63">HTML</a>
											<a href="http://wenda.jikexueyuan.com/lists/css/" cgid="63">CSS</a>
											<a href="http://wenda.jikexueyuan.com/lists/javascript/" cgid="63">JavaScript</a>
											<a href="http://wenda.jikexueyuan.com/lists/html5/" cgid="63">HTML5</a>
											<a href="http://wenda.jikexueyuan.com/lists/css3/" cgid="63">CSS3</a>
											<a href="http://wenda.jikexueyuan.com/lists/prospective/" cgid="63">技术前瞻</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/advance/" cgid="13">前端进阶</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/typescript/" cgid="63">Typescript</a>
											<a href="http://wenda.jikexueyuan.com/lists/security/" cgid="63">前端安全</a>
											<a href="http://wenda.jikexueyuan.com/lists/practice/" cgid="63">项目实战</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/webframe/" cgid="13">前端框架</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/jquery/" cgid="63">jQuery</a>
											<a href="http://wenda.jikexueyuan.com/lists/jqueryui/" cgid="63">jQuery UI</a>
											<a href="http://wenda.jikexueyuan.com/lists/jquerymobile/" cgid="63">jQuery Mobile</a>
											<a href="http://wenda.jikexueyuan.com/lists/extjs/" cgid="63">Ext JS</a>
											<a href="http://wenda.jikexueyuan.com/lists/angularjs/" cgid="63">AngularJS</a>
											<a href="http://wenda.jikexueyuan.com/lists/reactjs/" cgid="63">ReactJS</a>
											<a href="http://wenda.jikexueyuan.com/lists/bootstrap/" cgid="63">Bootstrap</a>
											<a href="http://wenda.jikexueyuan.com/lists/reactnative/" cgid="63">React Native</a>
											<a href="http://wenda.jikexueyuan.com/lists/backbone/" cgid="63">Backbone</a>
											<a href="http://wenda.jikexueyuan.com/lists/threejs/" cgid="63">Three.js</a>
											<a href="http://wenda.jikexueyuan.com/lists/mootools/" cgid="63">MooTools</a>
											<a href="http://wenda.jikexueyuan.com/lists/compass/" cgid="63">Compass</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/html5games/" cgid="13">HTML5游戏</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/canvas/" cgid="63">Canvas</a>
											<a href="http://wenda.jikexueyuan.com/lists/svg/" cgid="63">SVG</a>
											<a href="http://wenda.jikexueyuan.com/lists/webgl/" cgid="63">WebGL</a>
											<a href="http://wenda.jikexueyuan.com/lists/cocos2djs/" cgid="63">Cocos2d-js</a>
											<a href="http://wenda.jikexueyuan.com/lists/createjs/" cgid="63">CreateJS</a>
											<a href="http://wenda.jikexueyuan.com/lists/webflash/" cgid="63">Flash</a>
											<a href="http://wenda.jikexueyuan.com/lists/webunreal/" cgid="63">Unreal</a>
											<a href="http://wenda.jikexueyuan.com/lists/webegret/" cgid="63">Egret</a>
											<a href="http://wenda.jikexueyuan.com/lists/phaser/" cgid="63">Phaser</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div>
							<a cgid="1" href="http://wenda.jikexueyuan.com/lists/web/">前端开发</a>
							<div class="lesson-list-show" style="width: 401px; min-height: 410px;">
								<div style="width: 400px;">
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/webbase/" cgid="13">前端基础</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/html/" cgid="63">HTML</a>
											<a href="http://wenda.jikexueyuan.com/lists/css/" cgid="63">CSS</a>
											<a href="http://wenda.jikexueyuan.com/lists/javascript/" cgid="63">JavaScript</a>
											<a href="http://wenda.jikexueyuan.com/lists/html5/" cgid="63">HTML5</a>
											<a href="http://wenda.jikexueyuan.com/lists/css3/" cgid="63">CSS3</a>
											<a href="http://wenda.jikexueyuan.com/lists/prospective/" cgid="63">技术前瞻</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/advance/" cgid="13">前端进阶</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/typescript/" cgid="63">Typescript</a>
											<a href="http://wenda.jikexueyuan.com/lists/security/" cgid="63">前端安全</a>
											<a href="http://wenda.jikexueyuan.com/lists/practice/" cgid="63">项目实战</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/webframe/" cgid="13">前端框架</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/jquery/" cgid="63">jQuery</a>
											<a href="http://wenda.jikexueyuan.com/lists/jqueryui/" cgid="63">jQuery UI</a>
											<a href="http://wenda.jikexueyuan.com/lists/jquerymobile/" cgid="63">jQuery Mobile</a>
											<a href="http://wenda.jikexueyuan.com/lists/extjs/" cgid="63">Ext JS</a>
											<a href="http://wenda.jikexueyuan.com/lists/angularjs/" cgid="63">AngularJS</a>
											<a href="http://wenda.jikexueyuan.com/lists/reactjs/" cgid="63">ReactJS</a>
											<a href="http://wenda.jikexueyuan.com/lists/bootstrap/" cgid="63">Bootstrap</a>
											<a href="http://wenda.jikexueyuan.com/lists/reactnative/" cgid="63">React Native</a>
											<a href="http://wenda.jikexueyuan.com/lists/backbone/" cgid="63">Backbone</a>
											<a href="http://wenda.jikexueyuan.com/lists/threejs/" cgid="63">Three.js</a>
											<a href="http://wenda.jikexueyuan.com/lists/mootools/" cgid="63">MooTools</a>
											<a href="http://wenda.jikexueyuan.com/lists/compass/" cgid="63">Compass</a>
										</dd>
									</dl>
									<dl>
										<dt><a href="http://wenda.jikexueyuan.com/lists/html5games/" cgid="13">HTML5游戏</a></dt>
										<dd class="cf">
											<a href="http://wenda.jikexueyuan.com/lists/canvas/" cgid="63">Canvas</a>
											<a href="http://wenda.jikexueyuan.com/lists/svg/" cgid="63">SVG</a>
											<a href="http://wenda.jikexueyuan.com/lists/webgl/" cgid="63">WebGL</a>
											<a href="http://wenda.jikexueyuan.com/lists/cocos2djs/" cgid="63">Cocos2d-js</a>
											<a href="http://wenda.jikexueyuan.com/lists/createjs/" cgid="63">CreateJS</a>
											<a href="http://wenda.jikexueyuan.com/lists/webflash/" cgid="63">Flash</a>
											<a href="http://wenda.jikexueyuan.com/lists/webunreal/" cgid="63">Unreal</a>
											<a href="http://wenda.jikexueyuan.com/lists/webegret/" cgid="63">Egret</a>
											<a href="http://wenda.jikexueyuan.com/lists/phaser/" cgid="63">Phaser</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			</div>
		</div>
		<div class="user-course-content tab-content">
			<div class="user-course-cont ">
				<div id="learn-course-missing">
				  <div class="items">
					<div class="item">
					  <div class="item-heading">
						<div class="pull-right"><span class="text-muted">2013-11-11 16:14:37</span> &nbsp; <a href="#" class="text-muted"><i class="icon-comments"></i> 243</a></div>
						<h4><a href="{:U('Home/All/thesisshow')}">我的论文</a></h4>
					  </div>
					  <div class="item-content">
						<div class="text">HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。WHATWG表示该规范是目前仍在进行的工作，仍须多年的努力。[8]目前Mozilla Firefox、Google Chrome、Opera、Safari（版本4以上）、Internet Explorer（版本9以上）已支持HTML5技术。</div>
					  </div>
					</div>
					<div class="item">
					  <div class="item-heading">
						<div class="pull-right"><span class="text-muted">2013-11-11 16:14:37</span> &nbsp; <a href="#" class="text-muted"><i class="icon-comments"></i> 243</a></div>
						<h4><a href="thesisshow.html">HTML5 发展历史</a></h4>
					  </div>
					  <div class="item-content">
						<div class="text">HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。WHATWG表示该规范是目前仍在进行的工作，仍须多年的努力。[8]目前Mozilla Firefox、Google Chrome、Opera、Safari（版本4以上）、Internet Explorer（版本9以上）已支持HTML5技术。</div>
					  </div>
					</div>
					<div class="item">
					  <div class="item-heading">
						<div class="pull-right"><span class="text-muted">2013-11-11 16:14:37</span> &nbsp; <a href="#" class="text-muted"><i class="icon-comments"></i> 243</a></div>
						<h4><a href="thesisshow.html">HTML5 发展历史</a></h4>
					  </div>
					  <div class="item-content">
						<div class="text">HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。WHATWG表示该规范是目前仍在进行的工作，仍须多年的努力。[8]目前Mozilla Firefox、Google Chrome、Opera、Safari（版本4以上）、Internet Explorer（版本9以上）已支持HTML5技术。</div>
					  </div>
					</div>
					<div class="item">
					  <div class="item-heading">
						<div class="pull-right"><span class="text-muted">2013-11-11 16:14:37</span> &nbsp; <a href="#" class="text-muted"><i class="icon-comments"></i> 243</a></div>
						<h4><a href="thesisshow.html">HTML5 发展历史</a></h4>
					  </div>
					  <div class="item-content">
						<div class="text">HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。WHATWG表示该规范是目前仍在进行的工作，仍须多年的努力。[8]目前Mozilla Firefox、Google Chrome、Opera、Safari（版本4以上）、Internet Explorer（版本9以上）已支持HTML5技术。</div>
					  </div>
					</div>
					<div class="item">
					  <div class="item-heading">
						<div class="pull-right"><span class="text-muted">2013-11-11 16:14:37</span> &nbsp; <a href="#" class="text-muted"><i class="icon-comments"></i> 243</a></div>
						<h4><a href="thesisshow.html">HTML5 发展历史</a></h4>
					  </div>
					  <div class="item-content">
						<div class="text">HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。WHATWG表示该规范是目前仍在进行的工作，仍须多年的努力。[8]目前Mozilla Firefox、Google Chrome、Opera、Safari（版本4以上）、Internet Explorer（版本9以上）已支持HTML5技术。</div>
					  </div>
					</div>
				   </div>
				</div>
			</div>
		</div>
	</div>
</diV>
<!--底部-->

<div id="footer" style="margin-top: 150px">
	<div class="w-1000 copyright">
		Copyright © 2013-2016&nbsp;<strong><a href="{:U('Home/Index/index')}"
											  target="_self">wangyiyu.com</a></strong> All Rights Reserved.
		京ICP备11018032号-8 京公网安备11010802020210
		<a href="#" target="_self" class="down-wechat"></a>
		<a href="#" target="_self" class="down-sina"></a>
	</div>
</div>
<!--底部结束-->

<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/jquery.1.7.2.min.js' charset='utf-8'></script>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/zui.min.js' charset='utf-8'></script>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/login.js' charset='utf-8'></script>
<script type="text/javascript">

	function searchBtn(){
		$("#searchbox").addClass("scale");//开启搜索框
	}
	function closeBtn(c){
		$(c).parent().removeClass("scale");//关闭搜索框
	}
	$(document).ready(function(){
		$(".lesson-classfiy-nav ul li").hover(function(){
			$(".lesson-classfiy-nav ul").css({"width":"565","height":"445"});
		});
	});
</script>


<!--[if lt IE 9]>
  <script type='text/javascript' src="lib/ieonly/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script type='text/javascript' src="lib/ieonly/respond.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script type='text/javascript' src="lib/ieonly/excanvas.js"></script>
<![endif]-->
</body>
</html>
