<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/public/dist/css/zui.min.css">
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/common.css">
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/login.css">
</head>
<body>
<div class="header">
    <div class="centent">
        <a class="logo-img"><img class="pull-left" src="__ROOT__/Application/Home/View/public/img/logo2.png" width="105px" height="45px" /></a>
        <nav>
            <ul class="header-nav">
                <li><a href="{:U('Home/Index/index')}" class="active">首页</a></li>
                <if condition="session('sys_tag') eq admin">
                    <li><a href="{:U('Home/Approval/approvalfirst')}">审核文章</a></li>
                    <else />
                    <li><a href="{:U('Home/Writer/mythesis')}">投递文章</a></li>
                </if>
                <li><a href="#">论文分类<i class="arrow-icon"></i></a>
                <!--<li><a href="{:U('Home/All/thesisclassify')}">论文分类<i class="arrow-icon"></i></a>-->
                    <div class="submenu school-list">
                        <h3>文学类</h3>
                        <a href="#"><i class="web-icon"></i>学3</a>
                        <h3>散文类</h3>
                        <a href="#"><i class="python-icon"></i>文1</a>
                        <a href="#"><i class="go-icon"></i>散2</a>
                        <h3>科技类</h3>
                        <a href="#"><i class="ios-icon"></i>iOS</a>
                    </div>
                </li>
                <li><a href="#">社区</a></li>
            </ul>
        </nav>
        <div class="icon-box">
            <span class="search-icon" id="search-btn" onclick="searchBtn()"></span>
                <if condition="session('uid') eq ''">
                    <span class="relative loginlist login-icon" id="loginlist">
                    <else />
                    <span class="relative loginlist" id="loginlist">
                    <img src="__ROOT__/Application/Home/View/public/img/default.gif" style="height: 25px;width: 25px;margin-bottom: 54px">
                </if>
                <dl class="submenu"><i class="top-icon"></i>
                    <dd>
                        <if condition="session('uid') eq ''">
                            <a href="{:U('Home/Login/register')}" class="reg-btn">注册</a>|<a href="{:U('Home/Login/index')}" class="login-btn">登录</a>
                        </if>
                    </dd>
                    <dd><a href="{:U('Home/Person/index')}"><i class="grzy-icon"></i>个人主页</a></dd>
                    <dd><a href="{:U('Home/Person/message')}"><i class="xxtz-icon"></i>消息通知</a></dd>
                    <dd><a href="{:U('Home/Person/account')}"><i class="zhsz-icon"></i>账号设置</a></dd>
                    <if condition="session('uid') neq ''">
                        <dd><a href="{:U('Home/Index/exitLogin')}"><i class="zhsz-icon"></i>退出登录</a></dd>
                    </if>
                </dl>
                <!--</span>-->
        </div>
        <div class="searchbox" id="searchbox">
            <i class="close-icon" id="close-btn" onclick="closeBtn(this)"></i>
            <i class="search-icon" id="search-btn"></i>
            <input id="web_search_header" placeholder="搜索文章 / 问答" value="" />
        </div>
    </div>
</div>
<div class="centent mar-t20">
    <!-- 轮播开始 -->
    <div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
        <!-- 圆点指示器 -->
        <ol class="carousel-indicators carousel-green">
            <foreach name="picList" item="v0">
                <if condition="$key eq 0">
                    <li data-target="#myNiceCarousel" data-slide-to="{$key}" class="active"></li>
                    <else />
                    <li data-target="#myNiceCarousel" data-slide-to="{$key}"></li>
                </if>
            </foreach>
        </ol>

        <!-- 轮播项目 -->
        <div class="carousel-inner">
            <foreach name="picList" item="v1">
                <if condition="$key eq 0">
                    <div class="item active">
                        <a title="{$v1.remark}">
                            <img alt="{$v1.remark}" src="__ROOT__{$v1.picurl}" style="height: 420px;width: 1000px; border-radius: 10px">
                            <div class="carousel-caption">
                                <input type="hidden" value="{$v1.typeid}">
                            </div>
                        </a>
                    </div>
                    <else />
                    <div class="item">
                        <a title="{$v1.remark}">
                            <img alt="{$v1.remark}" src="__ROOT__{$v1.picurl}" style="height: 420px;width: 1000px; border-radius: 10px">
                            <div class="carousel-caption">
                                <input type="hidden" value="{$v1.typeid}">
                            </div>
                        </a>
                    </div>
                </if>
            </foreach>

        </div>
    </div>
    <!-- 轮播结束 -->
    <!-- 热门论文排行开始 -->
    <div class="cards" style="padding-top: 20px;">
        <foreach name="typeList" item="v2">
            <div class="col-md-4 col-sm-6 col-lg-3">
                <a class="card" href="###">
                    <img src="__ROOT__{$v2.picurl}" alt="{$v2.remark}" style="height: 145px;width: 234px;">
                    <div class="caption">{$v2.remark}</div>
                    <div class="card-heading" style="text-align: center;font-size: 16px;">{$v2.typename}</div>
                </a>
            </div>
        </foreach>

        <!--<div class="col-md-4 col-sm-6 col-lg-3">-->
            <!--<a class="card" href="###">-->
                <!--<img src="http://jiuye-res.jikexueyuan.com/zhiye/showcase/attach-/20161013/2a7bf0a0-d94d-40d4-a244-20e5a5e359e6.jpg"-->
                     <!--alt="">-->
                <!--<div class="caption">“良辰美景” 出自《牡丹亭》</div>-->
                <!--<div class="card-heading"><strong>良辰美景</strong></div>-->
                <!--<div class="card-content text-muted">良辰美景奈何天，赏心乐事谁家院。</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-4 col-sm-6 col-lg-3">-->
            <!--<a class="card" href="###">-->
                <!--<img src="http://jiuye-res.jikexueyuan.com/zhiye/showcase/attach-/20161013/2a7bf0a0-d94d-40d4-a244-20e5a5e359e6.jpg"-->
                     <!--alt="">-->
                <!--<div class="caption">“良辰美景” 出自《牡丹亭》</div>-->
                <!--<div class="card-heading"><strong>良辰美景</strong></div>-->
                <!--<div class="card-content text-muted">良辰美景奈何天，赏心乐事谁家院。</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-4 col-sm-6 col-lg-3">-->
            <!--<a class="card" href="###">-->
                <!--<img src="http://jiuye-res.jikexueyuan.com/zhiye/showcase/attach-/20161013/2a7bf0a0-d94d-40d4-a244-20e5a5e359e6.jpg"-->
                     <!--alt="">-->
                <!--<div class="caption">“良辰美景” 出自《牡丹亭》</div>-->
                <!--<div class="card-heading"><strong>良辰美景</strong></div>-->
                <!--<div class="card-content text-muted">良辰美景奈何天，赏心乐事谁家院。</div>-->
            <!--</a>-->
        <!--</div>-->
    </div>
    <!-- 列表开始 -->
    <div class="list-news" style="height: 100%;min-height: auto">
        <div class=" pull-left pad-rl-10">
            <div class="list list-condensed">
                <header>
                    <h2>
                        <i class="icon-list-ul"></i><a><big> 优 文 推 荐</big></a>
                        <!--<small>更新 123 条</small>-->
                    </h2>
                </header>
                <div class="items items-hover">
                    <foreach name="artList" item="v3">
                        <div class="item" style="width: 1000px">
                            <div class="item-heading">
                                <div class="pull-right label label-success" style="font-size: 100%;">网易鱼</div>
                                <h4><a href="{:U('Home/Writer/article',array('artId' => $v3['artid']),'')}" style="font-size: 14px"><strong>{$v3.title}</strong></a></h4>
                            </div>
                            <div class="item-content">
                                <div class="media pull-right">
                                    <if condition="$v3.picurl neq ''">
                                        <img src="__ROOT__{$v3.picurl}" alt="{$v3.picname}" style="height: 60px;width: 90px" title="{$v3.picname}">
                                    </if>
                                </div>
                                <div class="text" style="line-height: 25px;height: 150px;overflow: hidden;-webkit-user-select: none;">
                                    {$v3.content}
                                </div>
                            </div>
                            <div class="" style="margin-top:10px">
                                <span class="text-muted" style="margin-right: 20px">{$v3.passtime}</span>
                                <a href="###" class="text-muted" style="color: #35b558"><i class="icon-comments"></i> {$v3.clicknum}</a> &nbsp;
                                <a href="###" class="text-muted" style="color: #35b558"><i class="icon-star"></i> {$v3.clicknum}</a> &nbsp;
                            </div>
                        </div>
                    </foreach>
                </div>
            </div>
        </div>
    </div>
    <!-- 列表结束-->
    <div style="margin-top: 150px">&nbsp;</div>
</div>

<!--底部-->
<!--<div id="footer" style="margin-top: 50px">-->
    <!--<div class="w-1000 copyright">-->
        <!--Copyright © 2013-2016&nbsp;<strong><a href="{:U('Home/Index/index')}"-->
                                              <!--target="_self">wangyiyu.com</a></strong> All Rights Reserved.-->
        <!--京ICP备20168888号-8 京公网安备201608020202020-->
        <!--<a href="#" target="_self" class="down-wechat"></a>-->
        <!--<a href="#" target="_self" class="down-sina"></a>-->
    <!--</div>-->
<!--</div>-->
<!--底部结束-->

<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/Login/jquery.1.7.2.min.js'></script>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/Login/zui.min.js'></script>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/Login/login.js'></script>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/layer/layer.js'></script>
<!--<script type='text/javascript' src='__ROOT__/Application/Home/View/Public/js/md5/md5.js'></script>-->
<script type="text/javascript">
     function searchBtn(){
        $("#searchbox").addClass("scale");//开启搜索框
    }
    function closeBtn(c){
        $(c).parent().removeClass("scale");//关闭搜索框
    }
</script>


<!--[if lt IE 9]>
<script type='text/javascript' src="__ROOT__/Application/Home/View/public/js/lib/ieonly/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script type='text/javascript' src="__ROOT__/Application/Home/View/public/js/lib/ieonly/respond.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script type='text/javascript' src="__ROOT__/Application/Home/View/public/js/lib/ieonly/excanvas.js"></script>
<![endif]-->
</body>
</html>
