<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>网易鱼管理中心</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="__ROOT__/Application/Sadmin/public/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__ROOT__/Application/Sadmin/public/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
		<!--跳出iframe的操作-->
		<script>
			if(window !=top){
				top.location.href=location.href;
			}
		</script>
		<!-- page specific plugin styles -->

		<!-- fonts -->

		<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" /> -->

		<!-- ace styles -->

		<link rel="stylesheet" href="__ROOT__/Application/Sadmin/public/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__ROOT__/Application/Sadmin/public/assets/css/ace-rtl.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>

		<![endif]-->
		<script>
			var admin_usernameregister_url = "{:U('Sadmin/Login/is_usernameregistered')}";//检测用户名是否注册过
			// var admin_oldpassword_url = "{:U('Sadmin/Login/is_usernameregistered')}";//检测用户名是否注册过
			var admin_addUsername_url = "{:U('Sadmin/Login/addUsername')}";//注册新的管理员用户
			var admin_usernamePassword_url  = "{:U('Sadmin/Login/isCorrect')}";//用户登录需要验证用户名和密码
			var index_url = "{:U('Sadmin/Admin/index')}"; //跳转首页
		</script>
		<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/md5/md5.js'></script>
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="space-24"></div>
							<div class="space-24"></div>
							<div class="center">
								<h1>
									<!-- <i class="icon-leaf green"></i> -->
									<span class="red">网易鱼</span>
									<span><small class="blue">&copy;</small></span>
									<span class="white">管理中心</span>
								</h1>
							</div>



							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="icon-coffee green"></i>
												管理员后台
											</h4>
											<!--<div class="space-12"></div>-->
											<div class="space-6"></div>

											<form>
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" id="loginUsername" placeholder="用户名" />
															<i class="icon-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" id="loginPassword" placeholder="密码" />
															<i class="icon-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix" >
														<!--<label class="inline">-->
														<!--<?php if(empty($loginPassword)){ ?>-->
															<!--<input type="checkbox" class="ace" name="rememberMe" />-->
														<!--<?php }else{ ?>-->
															<!--<input type="checkbox" class="ace" name="rememberMe" checked="checked" />-->
														<!--<?php } ?>-->
															<!--<span class="lbl"> 记住我</span>-->
														<!--</label>-->

														<button type="button" onclick="submit_login()" class="width-100 pull-right btn btn-sm btn-primary">
															<i class="icon-key"></i>
															登录
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

											<!-- <div class="social-or-login center">
												<span class="bigger-110">Or Login Using</span>
											</div>

											<div class="social-login center">
												<a class="btn btn-primary">
													<i class="icon-facebook"></i>
												</a>

												<a class="btn btn-info">
													<i class="icon-twitter"></i>
												</a>

												<a class="btn btn-danger">
													<i class="icon-google-plus"></i>
												</a>
											</div> -->
										</div><!-- /widget-main -->
										<div class="space-18"></div>
										<!--<div class="toolbar clearfix" >-->
											<!--&lt;!&ndash; <div>-->
												<!--<a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">-->
													<!--<i class="icon-arrow-left"></i>-->
													<!--忘记密码-->
												<!--</a>-->
											<!--</div>-->
 <!--&ndash;&gt;-->
											<!--<div style="margin-left:130px">-->
												<!--<a href="#"  return false;" class="user-signup-link">-->
													<!--商沃科技@2016-->
													<!--<i class="icon-arrow-right"></i>-->
												<!--</a>-->
											<!--</div>-->
										<!--</div>-->
									</div><!-- /widget-body -->
								</div><!-- /login-box -->

								<div id="forgot-box" class="forgot-box widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header red lighter bigger">
												<i class="icon-key"></i>
												找回 密码
											</h4>

											<div class="space-6"></div>
											<p>
												进入你的邮箱获取信息
											</p>

											<form>
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control" placeholder="Email" />
															<i class="icon-envelope"></i>
														</span>
													</label>

													<div class="clearfix">
														<button type="button" class="width-35 pull-right btn btn-sm btn-danger">
															<i class="icon-lightbulb"></i>
															发送信息!
														</button>
													</div>
												</fieldset>
											</form>
										</div><!-- /widget-main -->

										<div class="toolbar center">
											<a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
												返回登录界面
												<i class="icon-arrow-right"></i>
											</a>
										</div>
									</div><!-- /widget-body -->
								</div><!-- /forgot-box -->

								<div id="signup-box" class="signup-box widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header green lighter bigger">
												<i class="icon-group blue"></i>
												修改密码
											</h4>

											<div class="space-6"></div>
											<p> 请填写信息: </p>

											<form action="" method="post">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" name="username" onblur="is_usernameregistered(this.value)" onfocus="emptyusername()" id="username" placeholder="旧密码" />
															<i class="icon-user"></i>
														</span>
														<span id="usernameCheck" style="display:none;"></span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password"  name="passsword" id="password" onblur="passwordchecked(this.value)" onfocus="emptypassword()" class="form-control" placeholder="新密码" />
															<i class="icon-lock"></i>
														</span>
														<span id="passwordCheck" style="display:none;"></span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" id="comfirmPasssword" name="comfirmPasssword" class="form-control" onblur="againpasswordchecked(this.value)" id="againpassword" onfocus="againemptypassword()" placeholder="确认密码" />
															<i class="icon-retweet"></i>
														</span>
														<div id="againpasswordcheck" style="display:none;"></div>
													</label>
													<div class="space-24"></div>

													<div class="clearfix">
														<button type="reset" class="width-30 pull-left btn btn-sm">
															<i class="icon-refresh"></i>
															重置
														</button>

														<button type="botton" onclick="register_username();return false;" class="width-65 pull-right btn btn-sm btn-success">
															确定修改
															<i class="icon-arrow-right icon-on-right"></i>
														</button>
													</div>
												</fieldset>
											</form>
										</div>

										<div class="toolbar center">
											<a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
												<i class="icon-arrow-left"></i>
												返回登录界面
											</a>
										</div>
									</div><!-- /widget-body -->
								</div><!-- /signup-box -->
							</div><!-- /position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="__ROOT__/Application/Sadmin/public/assets/js/jquery-2.0.3.min.js"></script>
		<!-- <![endif]-->

		<!--[if IE]>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='__ROOT__/Application/Sadmin/public/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__ROOT__/Application/Sadmin/public/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			function show_box(id) {
			 jQuery('.widget-box.visible').removeClass('visible');
			 jQuery('#'+id).addClass('visible');
			}
		</script>

		<script type="text/javascript">
			var loginIndex_url = "{:U('Sadmin/Index/loginUrl')}";
			$(function(){
				document.onkeydown = function(e){
					var ev = document.all ? window.event : e;
					if(ev.keyCode==13) {
						submit_login();//处理事件

					}
				}
			});
		</script>

	<script src='__ROOT__/Application/Sadmin/public/js/admin/admin.js'></script>
	<script src='__ROOT__/Application/Sadmin/public/assets/js/layer/layer.js'></script>
</body>
</html>
