<!DOCTYPE html>
<html lang="en">

<head>
    <include file="Public/frame_header" />
</head>
<script>
    var password_edit_url = "{:U('Sadmin/Admin/passwordEdit','',false)}";
    var admin_loginIndex_url = "{:U('Sadmin/Index/login')}";
    var admin_loginIndex_url1 = "{:U('Sadmin/Admin/index','',false)}";
</script>
<body class="no-skin">
    <div class="main-container" id="main-container">
        <div class="page-content">
            <div class="main-content">
                <div class="main-content-inner">
                    <div class="page-content" id="main_page">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-horizontal" id="theForm" method="post">
                                <!-- 原密码  -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right " for="form-field-1">原密码</label>
                                    <div class="col-sm-9">
                                        <div class="clearfix">
                                            <input placeholder="请输入原密码" class="col-xs-10 col-sm-5 oldpassword"  type="password">
                                        </div>
                                    </div>
                                </div>
                                <!-- 新密码  -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">新密码</label>
                                    <div class="col-sm-9">
                                        <div class="clearfix">
                                            <input placeholder="请输入新密码" class="col-xs-10 col-sm-5 newPassword"  type="password">
                                        </div>
                                    </div>
                                </div>
                                <!-- 确认密码  -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">确认密码</label>
                                    <div class="col-sm-9">
                                        <div class="clearfix">
                                            <input placeholder="请输入确认密码" class="col-xs-10 col-sm-5 comfirmPassword"  type="password">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="form-field-1"></label>
                                    <div class="col-sm-2">
                                        <div class="clearfix">
                                            <button class="btn btn-success" id="submit_button" type="button">确定</button>
                                        </div>
                                    </div>
                                    <!--<div class="col-sm-2">-->
                                        <!--<div class="clearfix">-->
                                            <!--<button class="btn" onclick="password_cancer()">取消</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>

                                </form>
                            </div>     
                        </div>         
                    </div>            
                </div>
            </div>                
        </div>
    </div>
</body>
<script src='__ROOT__/Application/Sadmin/public/assets/js/layer/layer.js'></script>
<script src="__ROOT__/Application/Sadmin/public/js/admin/index.js"></script>
</html>
